<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>website</title>
</head>

  <body>
    {{> header}}
    <p>Projects Will Go hear. (your already using the first one)</p>
    {{> footer}}
  </body>
</html>
